@charset "utf-8";

/* wrap */
.wrap {
  width: 68.75%;
  margin: 0 auto;  
  /* border: 3px solid #577; */
}

/* header */
header {
  width: 100%;  height: 300px;
  background-color: #aaa;
}

/* top */
.top-area {
  width: 60%;  height: 80px;
  padding-left: 10px;
  
  display: flex;
  justify-content: space-between;  
  flex-direction: row;  
  align-items: center;  
}
/* logo */
.logo {
  font-size: 2em;
  margin-right: 120px;
  /* font-family 미설정 */
}
/* menu */
.menu {
  width: 80%;
  display: flex;
  /* border: 2px solid green; */

  display: flex;  
  justify-content: space-between;  
  align-items: center;

  font-size: 1.5em;
}
/* search-field */
.movie-search-area {    
  width: 100%;  
  margin: 50px auto 0;  
  text-align: center;    
  /* border: 5px solid red; */
}
.movie-search-area h2 {
  font-size: 2.5em;
}
.movie-search-input {
  margin-top: 20px;  
  width: 60%; height: 40px;

  border: 1px solid;
  border-radius: 30px;  

  font-size: 2em;
  text-align: center;
}
.movie-search-btn {
  width: 80px;  height: 40px;
  margin-left: 10px;
  color: #fff;
  text-indent: 0;  
  background-color: #333;
  border-radius: 20px;  
}


/* main */
main {
  width: 100%;  
  padding: 50px 0;
  background-color: #ddd;  
}
/* main > .wrap {
  border: 1px solid blue;
} */

/* movie-card-area */
.movie-card-area {
  width: 100%;
  /* border: 1px solid red; */

  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.movie-card {
  width: 240px; height: 350px;
  margin-bottom: 20px;
  padding: 0 10px;
  /* border: 1px solid red; */
}
.movie-card-inner {
  width: 100%;  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid #000; */
}

.movie-image {
  display: block;
  width: 100%;
  height: 80%;  
  border-radius: 10px 10px 0 0;
}
.movie-title {
  font-size: 2.1em;
  margin: 10px 0 0 10px;  
}
.movie-score {
  font-size: 1.3em;
  margin: 0 0 10px 10px;
  /* border: 1px solid #000; */
}

/* full-back */
.full-back {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0; left: 0;
  z-index: 1;  
}

.hide {
  display: none;
}

/* modal */
.modal {
  width: 600px;
  height: 800px;  
  background-color: #fff;

  padding: 40px;
  position: absolute;

  border-radius: 10px;
  position: absolute;
  top: 50%;  left: 50%;

  transform: translate(-50%, -50%);  

  overflow: auto;

}
.modal > .movie-image {
  display: block;
  width: 500px;  height: 600px;
  border: 1px solid #000;
}
.modal > .movie-title {
  font-size: 3em;
  margin: 20px 0px;
}
.modal > .movie-score, .movie-outline {
  font-size: 2em;
  margin-bottom: 20px;
}

/* footer */
footer {
  height: 150px;
  background-color: #111;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {    
  color: white;
  font-size: 2em;
  
  text-align: center;  
}